@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #555555;
}

#app {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    background-color: #a76bbbeb;
}

#control {
    vertical-align: top;
    text-align: center;

}

#stack {
    position: relative;
    opacity: 1;
}

#stack canvas {
    position: absolute;
    top: 150px;
    left: 0;
}

#myBkg {
    visibility: visible;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn_save {
    background-color: #2bb800;
}

.btn_start {
    background-color: #008CBA;
}

.btn_stop {
    background-color: #f44336;
}

.btn_hideBackground {
    background-color: #f436c8;
}
